# Building a Multiple Linear Regression Model for an Advertisement Company

# Importing the Libraries

In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Importing the Dataset

In [16]:
df = pd.read_csv("advertising_and_sales_.csv")

In [17]:
df.head()

        tv     radio  social_media influencer      sales
0  16000.0   6566.23       2907.98       Mega   54732.76
1  13000.0   9237.76       2409.57       Mega   46677.90
2  41000.0  15886.45       2913.41       Mega  150177.83
3  83000.0  30020.03       6922.30       Mega  298246.34
4  15000.0   8437.41       1406.00      Micro   56594.18

In [21]:
# Checking for Null Values
df.isna().sum().sort_values()

tv              0
radio           0
social_media    0
influencer      0
sales           0
dtype: int64

# Creating the Features and Target Array

In [19]:
# Features and target
X = df[["tv", "radio", "social_media"]].values
y = df["sales"].values
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# Instantiate and fit model
reg = LinearRegression()
reg.fit(X_train, y_train)
# Predict on test data
y_pred = reg.predict(X_test)

# Evaluating the Model Performance

In [20]:
from sklearn.metrics import root_mean_squared_error
# R-squared score
r_squared = reg.score(X_test, y_test)
# RMSE
rmse = root_mean_squared_error(y_test, y_pred)
# Print results
print("R-squared:", r_squared)
print("RMSE:", rmse)

R-squared: 0.9990152104759368
RMSE: 2944.4331996001006